<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>ML Model For Sentiment Analysis</title>
</head>
<body>
    <div class="showcase container">
   <h1>ML Web App with Express</h1>
</div>
<div class="container">
    <form method="POST" action="/predict">
        <input type="text" name="message">
        <input type="submit" value="Predict" class="btn">

    </form>
</div>   
</body>
</html>